// Import all of Bootstrap's CSS
@use 'bootstrap/scss/bootstrap';

// Variables
$color-pink: #e5147f;
$color-purple: #752c91;
$color-gradient: linear-gradient(40deg, #{$color-pink} 0%, #{$color-purple} 40%);
$color-gradient-active: linear-gradient(40deg, #{$color-pink} 0%, #{$color-purple} 100%);

#app {
  h1 {
    color: $color-pink;
  }
  .fedora-menu {
    width: 250px;
  }
  .nav-link {
    background-image: $color-gradient;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    &:hover,
    &.active {
      background-image: $color-gradient-active;
    }
  }
}
